@model WAGTask1.Models.Currency

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Currency</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rates)
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>Date</th>
                    <th>Conversion factor</th>
                    <th>Rate</th>
                </tr>
                @foreach (var item in Model.Rates)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                        <td>@Html.DisplayFor(modelItem => item.ConversionFactor)</td>
                        <td>@Html.DisplayFor(modelItem => item.Rate)</td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
