@model WAGTask1.Models.CurrencyRate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CurrencyRate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Currency.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConversionFactor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConversionFactor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
